<div>
  <h1>Sign In</h1>

  <%= form_tag '/login', :class => "form-signin" do %>

    <label>Email:</label>
    <%= text_field_tag :email, nil, class: "form-control" %>

    <label>Password:</label>
    <%= password_field_tag :password, nil, class: "form-control"%>

    <div>
      <%= submit_tag "Login", :class => "btn btn-lg btn-primary"  %>
    </div>
    
  <% end %>
</div>

<%= link_to "Not a Solarlite?", new_user_path %>