<div>
	<%= form_for @presale do |f| %>

		<div>
			<%= f.label "Name" %>
			<%= f.text_field :first_name %>
		</div>

		<div>
			<%= f.label "Zip Code" %>
			<%= f.text_field :zip_code %>
		</div>

		<div>
			<%= f.label "Last Utility Bill Statement" %>
			<%= f.email_field :bill %>
		</div>

		<div>
			<%= f.label "How Much You Would Like to Pay" %>
			<%= f.email_field :desired_bill %>
		</div>

		<div>
			<%= submit_tag "View Your Solar Potential", :class => "btn"  %>
		</div>

	<% end %>
</div>