<nav class="main-nav" role="navigation">
	<div class="nav-wrapper container">
		<a href="/" class="brand-logo logo-container">
			<img src="<%= image_path("logo.png") %>" alt="Solar Report" />
		</a>
		<ul class="right white-text">
		<% if current_user %>
		  	<ul class="right white-text">
					<li><%= link_to "Home", root_path, class: "nav-color" %></li>
					<li><%= link_to "Usage", root_path, class: "nav-color" %></li>
					<li><%= link_to "Leaderboard", root_path, class: "nav-color" %></li>
					<li><%= link_to "Challenges", root_path, class: "nav-color" %></li>
					<li><%= link_to "Profile", user_path(current_user), class: "nav-color" %></li>
					<li><%= link_to "Log Out", logout_path, class: "nav-color" %></li>
		<% else %>
					<li><%= link_to 'Login', login_path, class: "nav-color" %></li>
					<li><%= link_to 'Register', new_user_path, class: "nav-color" %>
	  <%end%>
		</ul>
	</div>
</nav>
