<!DOCTYPE html>
<html>
  <head>
    <title>SolarReport</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  </head>

  <body>
    <% if @no_nav == false %>
  		<%= render 'layouts/nav' %>
  	<% end %>
    <main class="content">
      <div class="container">
        <%= yield %>
      </div>
    </main>
  </body>

</html>
