<!DOCTYPE html>
<html>
  <head>
    <title>Solarlite</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if @no_nav == false %>
  		<%= render 'layouts/nav' %>
  	<% end %>
    <%= yield %>
  </body>
</html>
